body,html{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Gotham', sans-serif;

}

*{
    box-sizing: border-box;
}

.facilities-intro{
    background-image: url('./assets/Image-Source-PlusPNG\ 1.png');
    background-size: 100%;
    color: #fff;
    height: 50%;
    width: 100%;
    background-size: cover;
    display: flex;
    place-items: center;
}

.facilities-intro section{
    background: rgba(0, 0, 0, 0.62);
    height: 100%;
    width: 100%;
}

.facilities-intro h2{
    font-weight:bold;
    color:#fff;
    text-align: center;
    font-size: 50px;
    line-height: 48px;
    margin-top: 4rem;

}

.facilities-intro p{
    font-size: 20px;
    line-height: 24px;
    font-weight: 350;
    text-align: center;
}

.facilities-container{
    margin: 6rem 4rem ;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    
}

.facilities-container img{
    width: 100%;
    height: 70%;
}

.facilities-box{
    width: 60%; 
    justify-content:center;
    
  
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2);
    transition: 0.3s;
    
    
}

.facilities-box p{
  padding: 0.5rem;
}

.facilities-margin{
    margin-right: 3rem;
}


.facilities-box:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0, 0, 0.2);
}
